@font-face {
    font-family: Adonis;
    src: url("../fonts/Adonis.ttf");
}

@font-face {
    font-family: Ahellya;
    src: url("../fonts/Ahellya.ttf");
}

@font-face {
    font-family: Didact;
    src: url("../fonts/Didact.ttf");
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: Didact, sans-serif;
    color: #fff;
    background-color: #000;
    min-width: 1900px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.head__img {
    max-width: 630px;
}

.nav {
    font-family: Ahellya;
    font-size: 49px;
    text-align: center;
    margin-top: 50px;
    top: 0px;
    right: 0;
    height: 90px;
    width: 1110px;
}

.nav.fixed {
    position: fixed;
}

.nav__link {
    text-decoration: none;
    transition: 0.1s linear;
    color: white;
    padding: 47px;
}

.nav__link:hover {
    color: #666666;
}

.block__1 {
    margin-top: 65px;
    text-transform: uppercase;
}

.preview {
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-template-rows: 1fr 0.4fr;
}

.prof {
    font-family: Adonis;
    font-size: 81px;
    margin-top: 427px;
}

.prof__text {
    transform: rotate(-90deg);
}

.name {
    font-family: Adonis;
    font-size: 102px;
    margin-top: 170px;
    line-height: 120%;
    padding-left: 50px;
}

.line {
    padding-top: 85px;
    padding-right: 40px;
}

.hr {
    border: none;
    background-color: white;
}

.category {
    font-family: Didact;
    font-size: 29px;
    line-height: 30px;
    padding-left: 5px;
}

.num {
    font-family: Adonis;
    font-size: 102px;
}

.photo__img {
    max-height: 835px;
    width: auto;
}

.photo__img2 {
    max-width: 760px;
    height: auto;
}

.container__bio {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: repeat(2, 1fr);
}

.bio {
    font-family: Adonis;
    font-size: 88px;
    text-transform: uppercase;
    margin-top: 140px;
    padding-left: 70px;
    max-width: 610px;
    grid-area: 1 / 1 / 3 / 2;

}

.about {
    font-family: Didact;
    font-size: 33px;
    text-transform: none;
}

.about:not(:last-child) {
    padding-top: 60px;
}

.about__name {
    line-height: 120%;
}

.line__2 {
    grid-area: 1 / 2 / 3 / 3;
    border-left: 8px solid white;
    margin-top: 260px;
    margin-left: 64px;
}

.num__2 {
    grid-area: 1 / 2 / 2 / 3;
}

.number__2 {
    transform: rotate(-90deg);
    margin-top: 65px;
    margin-right: 19px;
}

.block__2 {
    margin-top: 110px;
}




.footer {
    margin-top: 150px;
    margin-bottom: 30px;
}

.wrapper__footer {
    display: grid;
    grid-template-columns: 1.5fr 0.85fr;
}

.footer__link {
    text-decoration: none;
}

.footer__icon {
    max-height: 75px;
}

.footer__img {
    text-align: right;
}

.footer__img {
    margin-top: 20px;
}

.footer__photo {
    max-height: 690px;
    width: auto;
}

.footer__title {
    font-family: Adonis;
    text-transform: uppercase;
    font-size: 80px;
}

.__text {
    font-family: Didact;
    font-size: 30px;
    padding-right: 535px;
}

.footer__inner {
    padding-top: 75px;
}

.footer__info {
    margin-left: 150px;
}

.sub__text {
    margin-top: 30px;
}

.footer__ico {
    margin-top: 55px;
}

.footer__link:not(:first-child) {
    padding-left: 70px;
}

.footer__sub__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.footer__photo2 {
    max-height: 175px;
}

.footer__line {
    border: none;
    background-color: white;
    margin-top: 30px;
}

.footer__num {
    text-align: right;
}

.footer__number {
    font-family: Adonis;
    font-size: 70px;
    padding-right: 20px;
    padding-top: 90px;
}